<!DOCTYPE HTML>
<html>
	<head>
		{{head}}
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									{{header}}
								</header>

							<!-- Content -->
								<section>
									<!-- Content -->
									{{content}}

								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									{{search}}
								</section>

							<!-- Menu -->
								<nav id="menu">
									{{menu}}
								</nav>

							<!-- Section -->
								{{side_content}}

							<!-- Footer -->
								<footer id="footer">
									{{side_footer}}
								</footer>
						</div>
					</div>

			</div>

		<!-- Scripts -->
			{{scripts}}

	</body>
</html>